# LLM APIs
anthropic
backoff
openai
zhipuai
# Viz
matplotlib
pillow
pandas
pypdf
pymupdf4llm
seaborn
# Common Requirements
numpy
psutil
PyYAML
requests
scikit-learn
transformers
datasets
tiktoken
tqdm
rich
humanize
dataclasses-json
black
genson
shutup
python-igraph
coolname
jsonschema
omegaconf
boto3
huggingface-hub
